{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-header">
    <h2>Reset your Password</h2>
    <hr>
</div>
<div class="col-lg-8">
    <form action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}
        {{ crispy }}
        <ul>
            <input type="email" name="email" placeholder="Email" size="30" required>
        </ul>
        <ul>
            <input type="submit" class="btn btn-primary" id="update" value="Reset Password">
        </ul>
    </form>
</div>
{% endblock %}