{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="main-header">
    <h2>Sign Up</h2>
    <hr>
</div>
<div class="col-lg-8">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% if mes %}
        <h3>{{ mes }}</h3>
        {% else %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" class="btn-default" value="Submit">
        {% endif %}
    </form>
</div>
{% endblock %}